.heatmap {
  font-size: 12px;
  font-family: monospace;
}
rect.bordered {
  //stroke: #E6E6E6;
  stroke-width:0px;   
}
text.mono {
  font-size: 8px;
  font-family: monospace;
  fill: #000;
}
text.legendElement {
  font-size: 8px;
}
text.hover {
  font-weight: bold;
  fill: #66F;
  font-background: #000;
}
.heatmap_tooltip {
  text-align: center;
  font-family: monospace;
  font-size: 5pt;
  color: #000;
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #66F;
  padding: 5px;
  border-radius: 4px ;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -khtml-border-top-left-radius: 4px;
  -khtml-border-top-right-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  -khtml-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 80px;
  z-index:10000;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.heatmap_tooltip:after, .heatmap_tooltip:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.heatmap_tooltip:after {
  border-color: rgba(236, 240, 241, 0);
  border-top-color: #FFFFF;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}
.heatmap_tooltip:before {
  border-color: rgba(44, 62, 80, 0);
  border-top-color: #66F;
  border-width: 16px;
  left: 50%;
  margin-left: -16px;
}

        /* 內容區域的樣式 */
        .content {
            /* flex: 1;
            padding: 40px;*/
        }

        .tab-content {
            display: none;
        }

        .tab-content.active {
            display: block;
        }

        /* 右邊標籤欄的樣式 */
        .tab-menu {
            background-color: #cccccc;
            display: flex;
            flex-direction: column;
            /*justify-content: center;*/
            align-items: center;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
        }

        .tab-menu button {
            font-size: 9pt;
            background-color: #f0f0f0;
            border: 1px solid #cccccc;
            border-left-color: #cccccc; /* 預設左邊的邊框顏色 */
            cursor: pointer;
            writing-mode: vertical-rl; /* 改變文字方向 */
            /* transform: rotate(180deg); 旋轉文字以符合閱讀方向 */
            text-align: center;
            width: 20px; /* 限制寬度使得文字排版不錯亂 */
            border-radius: 0 6px 6px 0; /* 右邊的圓角 */
            transition: background-color 0.3s ease, border-left-color 0.3s ease; /* 增加背景顏色和邊框顏色的過渡效果 */
        }

        .tab-menu button.active {
            background-color: #ffffff;
            color: #000000;
            border-left-color: #ffffff; /* active tab 的左邊邊框保持為白色 */
        }

        .tab-menu button:hover {
            background-color: #e0e0e0; /* 滑鼠懸停效果 */
        }
